*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}


body, button, input{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

body li, body a{
    text-decoration: none;
    list-style: none;
}

body h1, h2, h3, h4{
    font-weight: 700;
}

body p{
    font-size: 18px;
}

body a, body button{
    cursor: pointer;
}

body button:hover{
    background-color: hsl(180, 86%, 73%) !important;
}

body button:active{
    background-color: var(--very-dark-violet) !important;
}

.global-container{
    display: flex;
    flex-direction: column;
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    height: 64px;
    margin-bottom: 32px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.hamburger-menu{
    width: 24px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.nav-info{
    background-color: var(--dark-violet);
    position:absolute;
    width: 90vw;
    height: 57vh;
    top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    left: 0;
    opacity: 0;
    z-index: 999;
    transition: all 0.5s linear;
}

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.nav-links::after{
    content: "";
    width: 75vw;
    height: 1px;
    background-color: white;
    display: block;
    opacity: 30%;
}

.nav-links li{
    color: white;
    font-weight: 700;
    font-size: 1.1rem;

}

.login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    padding-bottom: 16px;
    margin-top: -16px;
}

.login-buttons button{
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.1rem;
    font-weight: 700;
    width: fit-content;
}

.login-buttons button:nth-of-type(1):hover{
    background-color: rgba(255, 255, 255, 0) !important;
}

.login-buttons button:nth-of-type(2){
    background-color: var(--cyan);
    width: 75vw;
    height: 48px;
    border-radius: 50px 50px 50px 50px;
}

.line{
    width: 100%;
    height: 2.5px;
    background-color: var(--grayish-violet);
    transition: transform 0.5s linear;
}

.main-content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.main-content::after{
    content: ' ';
    background-color: rgb(238, 238, 238);
    width: 120%;
    height: 100%;
    position: absolute;
    top: 880px;
    left: -10%;
    margin-left: auto;
    margin-right: auto;
    z-index: -4;
}

.landing-statement{
    position: relative;
    height: 95vh;
    margin-bottom: 64px;
}

.image-container{
    max-width: 95vw;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    overflow-x: hidden;
    background-color: white;

}

.landing-statement img{
    width: 140vw;
    height: auto;
}

.landing-statement-info{
    position: absolute;
    top:60%;
}

.landing-statement-info h1, .landing-statement-info p, .landing-statement-info button{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-statement-info h1{
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 16px;
}

.landing-statement-info p{
    color: var(--grayish-violet);
    margin-bottom: 24px;
}

.get-started{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    background-color: var(--cyan);
    color: white;
    height: 48px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px 50px 50px 50px;
}

.active-menu{
    opacity: 100%;
}

.main-cta{
    background-image: url('images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
    background-size: 70%;
    background-color: var(--dark-violet);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 24px;
    margin-bottom: 64px;
}

.main-cta button, .main-cta input, .shorten-result button{
    height: 48px;
    padding: 16px;
    border: none;
    border-radius: 5px;
}

.main-cta input::placeholder{
    font-size: 16px;
    color: var(--grayish-violet);
    padding: 8px;
}

.main-cta-error input:focus{
    border: 2px solid var(--red);
    border-style: inset;
}

.main-cta-error input:active{
    border: 2px solid var(--red);
    border-style: inset;
}

.main-cta-error input:focus::placeholder{
    color: var(--red);
}

.main-cta button, .shorten-result button{
    background-color: var(--cyan);
    margin-top: 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shorten-result button{
    height: 36px;
}

.input-error{
    color: var(--red);
    font-size: 14px;
    margin-top: 4px;
    font-style: italic;
    visibility: hidden;
}

.results{
    width: 100%;
    margin-top: 32px;
    display: none;
}

.shorten-result{
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 48px;
    width: 100%;
}


.shorten-result p{
    height: 48px;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100%);
}

.shorten-result-info{
    position: relative;
}

.shorten-result-info::after{
    content: " ";
    width: calc(100% + 32px);
    height: 2px;
    background-color: var(--gray);
    display: flex;
    position: absolute;
    top: 40%;
    margin-left: -16px;
    opacity: 20%;
}

.shorten-result p:nth-of-type(2){
    color: var(--cyan);
}
.shorten-result button{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.selling-points{
    background-color: rgb(238, 238, 238);
    margin-top: -144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
}

.selling-points-info{
    margin-top: 144px;
    margin-bottom: 64px;
    width: 90%;
}

.selling-points-info h2, .selling-points-info p, .selling-card h3, .selling-card p{
    text-align: center;
}

.selling-points-info h2{
    color: var(--dark-violet);
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.selling-points-info p{
    color: var(--grayish-violet);
    font-size: 16px;
    line-height: 28px;
}

.cards-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.selling-card{
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 72px;
    padding-bottom: 32px;
}

.selling-card-img{
    background-color: var(--dark-violet);
    width: fit-content;
    padding: 24px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -48px;
}

.selling-card-img img{
    display: block;
}

.selling-card h3{
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 1.3rem;
    color: var(--very-dark-violet);
}

.selling-card p{
    color: var(--grayish-violet);
    font-size: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}

.background-line{
    width: 8px;
    height: 800px;
    background-color: var(--cyan);
    position: absolute;
    top: 0;
    z-index: -1;
}


.boost-links{
    background-color: var(--dark-violet);
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/bg-boost-mobile.svg');
    background-repeat: repeat-y;
    background-position: right;
}

.boost-links h2{
    color: white;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 1.6rem;
}

.footer{
    background-color: var(--very-dark-violet);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img{
    margin-top: 48px;
    margin-bottom: 48px;
    filter: brightness(1000%);
}

.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info h4, .footer-info ul li a{
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-info h4{
    color: white;
    margin-bottom: 24px;
}

.footer-info ul{
    margin-bottom: 48px;
}

.footer-info ul li a{
    color: var(--grayish-violet);
    margin-bottom: 8px;
    font-size: 14px;
}

.social-links{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.line-1{
    transform: rotate(45deg);
}

.line-2{
    visibility: hidden;
}

.line-3{
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
}

visible{
    visibility: visible;
}

.visible-result{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




